<Article>
    <form action="">
        <p>Home</p>
        <input routerLink="/cad-professor" type="button" class="button" value="Cadastro de Professores">
        <input routerLink="/cad-oficina" type="button" class="button" value="Cadastro de Oficinas">
        <input routerLink="/login" type="submit" class="button" id="sair" value="Sair">
    </form>
</Article>

<style>
/* Estilos para o componente de home */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right bottom, #ffffff, #333333); /* fundo degradê */
  }
  
  form {
    width: 400px; /* largura do retângulo */
    padding: 20px;
    background-color: #e6f2ff; /* retângulo azul claro */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* sombra suave */
  }
  
  input {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .button {
    width: 95.4%;
    color: rgb(2, 1, 5);
    background-color: rgba(111, 200, 235, 0.651);
  }

  #sair {

    background-color: rgb(212, 79, 79);

  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
</style>